<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>index</title>
</head>
<body>
<h1>Index Page</h1>
<a th:href="@{/testServletAPI}">在SpringMVC中使用原生Servlet API实现request域数据共享</a><br>
<a th:href="@{/testModel}">在SpringMVC中使用model实现request域数据共享</a><br>
<a th:href="@{/testMap}">在SpringMVC中使用map实现request域数据共享</a><br>
<a th:href="@{/testModelMap}">在SpringMVC中使用modelMap实现request域数据共享</a><br>
<a th:href="@{/testModelAndView}">在SpringMVC中使用modelAndView实现request域数据共享</a><br>
<a th:href="@{/testSessionScope}">在SpringMVC中使用原生Servlet API实现session域数据共享</a><br>
<a th:href="@{/testSessionScopeByAnno}">在SpringMVC中使用原生Servlet API实现session域数据共享</a><br>
<a th:href="@{/testApplicationScope}">在SpringMVC中使用ServletAPI实现application域共享数据</a><br>
<a th:href="@{/a}">forward</a><br>

</body>
</html>