<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace先随意写一个-->
<mapper namespace="com.powernode.mybatis.mapper.StudentMapper">
    <select id="selectByName" resultType="student">
        select id, name, age, height, birth, sex from t_student where name = #{name}
    </select>

    <select id="selectById" resultType="student">
        select id, name, age, height, birth, sex from t_student where id = #{id}
    </select>

    <select id="selectByBirth" resultType="student">
        select id, name, age, height, birth, sex from t_student where birth = #{birth}
    </select>

    <select id="selectBySex" resultType="student">
        select id, name, age, height, birth, sex from t_student where sex = #{sex}
    </select>

    <select id="selectByParamMap" resultType="student">
        select id, name, age, height, birth, sex
        from t_student
        where  name = #{name} and age = #{age}
    </select>

    <select id="selectByNameAndSex" resultType="Student">
        select id, name, age, height, birth, sex
        from t_student
        where  name = #{name} and sex = #{sex}
    </select>
</mapper>